.weather_basic_data {
  display: inline-block;

  .weather_day_box {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 10px;

    .weahter_day {
      display: flex;
      flex-direction: column;
      background-color: beige;
      width: 200px;
      height: 280px;
      margin: 2px;
    }
  }
}
